@model IEnumerable<WebUI.Models.Dtos.HastaDetayDto>

@{
    ViewData["Title"] = "Hasta Listesi";
}

<h2>Hasta Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hasta in Model)
        {
            <tr>
                <td>@hasta.HastaAdi</td>
                <td>@hasta.HastaSoyadi</td>
                <td>
                    <a asp-controller="Home" asp-action="Index" asp-route-id="@hasta.AgriHastaBakimPlaniId">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>

